<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Bookstore Result</title>
</head>
<body>

<div th:each="item:${dirlist}">
    <p th:text="${item.name}"/>
    <p th:text="${item.genre}"/>
     <div th:each="p:${item.movies}">

         <p th:text="'Title: '+ ${p.title}" />
         <p th:text="'Year: '+ ${p.year}" />
         <p th:text="'Description: '+ ${p.description}" />

</div>
</div>

<!--<p th:text="'Director: '+ ${director.name}" />-->
<!--<p th:text="'Genre: '+ ${director.genre}" />-->


</body>
</html>