<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
                <tr>
                    <th>Title</th>
                    <th>Year</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
                </thead>
                <th:block th:each="item : ${movie}">
                    <tbody>
                    <tr>
                        <td th:text="${item.title}"></td>
                        <td th:text="${item.year}"></td>
                        <td th:text="${item.description}"></td>
                        <td>
                            <a th:href="@{/detaildirector/{id}(id=${item.id})}">Details</a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>

</body>
</html>